* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.palette {
  background-color: #06d6a0;
  background-color: #26547c;
  background-color: #ef476f;
  background-color: #ffd166;
  background-color: #fffcf9;
  background-color: #f2f2f2; 
}

h1 {
  margin: 0;
}

header > .navbar > a > h2 {
  display: inline;
  padding: 0 10px 0 0;
}

main {
  margin: auto;
  max-width: 900px;
    display: block;
}

header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: #06d6a0;
  padding-top: 20px;
  font-size: 10px;
}

.topbar {
  color: white;
  padding: 100px 0 0 30px;
  display: inline;
}

.navbar {
  font-weight: 200;
  float: right;
  padding-top: 4px;
  padding-right: 30px;
  font-size: 12px;
  display: inline;
}

.main-body {
    background-color: #26547c;

}

.main-body > div > img {
    max-width: 60%;
    display: inline-block;
    margin-right: 0;
}

h5 {
    font-size: 30px;
    /* float: right; */
    color: white;
    box-sizing: content-box;
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 30%;
}

.cats {
    background-color: #ffd166;
    box-sizing: border-box;
    margin: 0;
    padding: 20px
}

.products {
    background-color: #f2f2f2; 
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    max-width: 900px;
      display: block;
}

ul {
    list-style-type: none;
    padding: 20px;
    max-width: 900px;
      display: block;
}

.thumbnail {
    width: 270px;
    border: 3px solid black;
}

.kitty-thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left: 0;
    margin-right: 10px;
}


