* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.palette {
  background-color: #06d6a0;
  background-color: #26547c;
  background-color: #ef476f;
  background-color: #ffd166;
  background-color: #fffcf9;
}

h1 {
  margin: 0;
}

header > .navbar > a > h2 {
  display: inline;
  padding: 0 10px 0 0;
}

body {
  margin: 0;
}

header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: #06d6a0;
  padding-top: 20px;
  font-size: 10px;
}

.topbar {
  color: white;
  padding: 100px 0 0 30px;
  display: inline;
}

.navbar {
  float: right;
  padding-top: 4px;
  padding-right: 30px;
  font-size: 12px;
  /* display: inline; */
}


